# Node.js
node_modules/
.env
.env.local
.DS_Store
dist/
build/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
Thumbs.db
.DS_Store
